<div id="appDiv" data-ng-app="ApplicationModule" data-ng-view>
    angular view
</div>
<script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>
@Scripts.Render("~/bundles/app")