<div class="container">
    <div class="col-lg-3">
        <img ng-src="{{Profile.profileLargeImage}}" />
    </div>
    <div class="col-lg-9">
        <table class="table table-bordered table-hover">
            <tr>
                <td>Last name:</td>
                <td>{{Profile.lastName}}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{Profile.firstName}}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{Profile.country}}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{Profile.state}}</td>
            </tr>
            <tr>
                <td>Total Activities count:</td>
                <td>{{Profile.totalActivitiesCount}}</td>
            </tr>
        </table>
    </div>
</div>

